body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Oxanium", serif;
    font-size: calc(2px + 1vw);
}

#body {
    margin-left: 10%;
    margin-right: 10%;
}

main {
    height: fit-content;
    background-color: rgb(253, 242, 210);
    padding: 5%;
}

main a, main u{
    color:rgb(65, 127, 147);
}

header {
    padding: 2%;
    background-color:rgb(62, 127, 147);
    color: white;
}

footer {
    padding: 1%;
    background-color: rgb(62, 127, 147);
    color: white;
}

footer a {
    color: rgb(253, 242, 210);
}

nav {
    padding: 2%;
    background-color:rgb(67, 64, 62);
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    border-bottom: white solid;
}

nav li:hover{
    border-bottom: rgb(117, 196, 220) solid;

    a {
        color: rgb(117, 196, 220);
    }
}

nav ul li a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    body {
        font-size: calc(2px + 3vw);
    }

    header {
        text-align: center;
    }

    nav li {
        display: inline-block;
        text-align: center;
        margin: 1vh 2vw;
    }
}

@media screen and (min-width: 750px) {
    #main {
        display: flex;
        flex-wrap: nowrap;
    }

    nav li {
        margin-bottom: 5vh;
    }
}